In [1]:
import numpy as np  # 引入numpy、pandas库
import pandas as pd
from dbfread import DBF
from pandas import DataFrame

# def count_storms_times_year(path):
#     table = DBF(path)
#     df = pd.DataFrame(iter(table))
#     row_size = df.shape[0] 
#     temp1 = df # 复制dataframe表格 避免修改原始数据表格
#     ls = [] # 新建每一年台风出现的次数
#     for i in range(1980, 2022):  # 遍历1980到2021年台风
#         temp = temp1.loc[temp1['SEASON']==i] # 遍历第i年台风
#         counts = temp['NUMBER'].value_counts() # 统计每个台风出现的次数
#         ls.append(counts)
#     number_times = []
#     for i in range(len(ls)):
#         number_times.append(ls[i].size)
#     return number_times

path = "./SI.dbf"
df = pd.DataFrame(iter(DBF(path)))
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

In [2]:
def classification(typh_intensity):
    if typh_intensity >= 1 and typh_intensity <= 44:
        result = 'D'
    elif typh_intensity > 44 and typh_intensity <= 63:
        result = 'S'
    elif typh_intensity > 63 and typh_intensity <= 82:
        result = 'C1'
    elif typh_intensity > 82 and typh_intensity <= 95:
        result = 'C2'
    elif typh_intensity > 95 and typh_intensity <= 113:
        result = 'C3'
    elif typh_intensity > 113 and typh_intensity <= 135:
        result = 'C4'        
    elif typh_intensity > 135:
        result = 'C5'
    else:
        result = "WRONG"
    return result

def year(df, YEAR):
    df4 = df[df["SEASON"] == YEAR]
    typhoon_time = df4['NUMBER'].value_counts()  # 统计每个台风出现的次数
    number_typhoon = typhoon_time[:].index[:].tolist() # 统计台风的编号
    number_typhoon.sort() # 对编号进行排序
    ls_max_intensity = []
    ls_classification = []  # 分类列表
    for index in range(len(number_typhoon)):
        df5 = df4[df4["NUMBER"] == number_typhoon[index]]
        index_max = df5['USA_WIND'].max()
        classifation_result = classification(index_max)
        ls_classification.append(classifation_result)
        ls_max_intensity.append(index_max)
    
    ls_year = []
    for i in range(len(number_typhoon)):
        ls_year.append(YEAR)
    tc0 = pd.DataFrame(data= ls_year, columns=['year'] )
    tc1 = pd.DataFrame(data = number_typhoon, columns = ['typhoon_index'])
    tc2 = pd.DataFrame(data = ls_max_intensity, columns = ['max_intensity'])
    tc3 = pd.DataFrame(data = ls_classification, columns = ['typhoon_classification'])
    result_chart = pd.concat([tc0, tc1, tc2, tc3], axis = 1)
    return result_chart

def merge(df, start_year, end_year):  # 合并成一个Dataframe文件
    new_chart = pd.DataFrame(columns=['year', 'typhoon_index', 'max_intensity', 'typhoon_classification'],index = None)
    for years in range(start_year, end_year+1):
        year_chart = year(df, years)
        new_chart = new_chart.append(year_chart, ignore_index=True)
    return new_chart

def reindex(classification_times):
    return classification_times.reindex(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'])

def year_classification(class_chart, years):
    year_classification = class_chart.loc[class_chart['year'] == years]
    year_classification = year_classification.typhoon_classification.value_counts()
    year_classification = reindex(year_classification)
    year_classification = pd.DataFrame(year_classification)
    return year_classification

In [3]:
frequency = pd.DataFrame(columns=[ 'D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'],index = None)
for i in range(1976, 2022):
    df_year2next = df[((df['year'] == i) & (df['month'] >= 7)) 
   | ((df['year'] == i+1) & (df['month'] <= 6))]
    chart = merge(df_year2next, i, i+1)
    tmp_count = chart.typhoon_classification.value_counts()
    tmp_cla = tmp_count.reindex(['D', 'S', 'C1', 'C2', 'C3', 'C4', 'C5', 'WRONG'], fill_value=0)
    tmp_cla_year = pd.DataFrame(tmp_cla).T
    tmp_year = tmp_cla_year.rename(index={"typhoon_classification": str(i)+'to'+str(i+1)})
    frequency = frequency.append(tmp_year)

frequency

            D   S C1 C2 C3  C4 C5 WRONG
1976to1977  0   1  0  3  0   0  0    17
1977to1978  0   1  0  2  1   1  0    23
1978to1979  2   5  0  1  1   0  0    20
1979to1980  2   3  2  3  6   0  0    10
1980to1981  4   3  1  0  4   1  0    13
1981to1982  6   7  4  1  1   1  0    11
1982to1983  2   4  4  0  0   0  0     3
1983to1984  4   8  5  2  2   2  0     9
1984to1985  3  10  6  0  1   2  0     2
1985to1986  6   5  3  2  4   1  0    10
1986to1987  2   8  4  0  0   0  0     2
1987to1988  5   3  2  2  0   2  0     3
1988to1989  3   2  5  2  3   2  1     7
1989to1990  6   6  3  2  2   2  0     4
1990to1991  4   6  1  3  1   1  0     2
1991to1992  4   5  0  0  1   6  0     6
1992to1993  3   4  2  2  1   1  0     5
1993to1994  4   5  2  4  4   2  1     1
1994to1995  3   3  2  1  4   3  0     3
1995to1996  5   3  4  3  1   4  2     4
1996to1997  2   7  5  2  1   4  0     1
1997to1998  9   4  2  2  0   2  0     0
1998to1999  8   3  4  0  2   3  1     2
1999to2000  2   5  3  2  0   7  0     2
2000to2001  5   2  3  2  3   1  0     2
2001to2002  3   4  3  0  2   4  1     0
2002to2003  5   4  3  2  2   1  2     3
2003to2004  4   3  6  0  2   3  1     0
2004to2005  5   6  2  1  2   2  1     1
2005to2006  4   6  0  0  1   4  1     0
2006to2007  1   2  3  0  4   4  0     1
2007to2008  6   5  3  2  2   3  0     0
2008to2009  4   7  3  0  2   2  0     1
2009to2010  2   4  4  0  1   3  1     1
2010to2011  3   4  3  1  1   1  0     3
2011to2012  5   3  4  3  0   2  0     2
2012to2013  3   4  2  2  2   4  0     0
2013to2014  1   5  1  1  1   4  2     2
2014to2015  4   4  1  2  3   2  2     0
2015to2016  1   3  2  0  0   2  1     1
2016to2017  0   6  2  1  0   1  1     5
2017to2018  0   3  4  2  2   1  1     1
2018to2019  0   6  1  1  1  10  0     1
2019to2020  2   7  1  3  4   0  1     0
2020to2021  2   8  3  2  1   1  1     3
2021to2022  1   4  0  0  1   3  0     7

In [4]:
frequency = frequency.drop('WRONG', axis=1)

In [5]:
frequency['Row_sum'] = frequency.apply(lambda x: x.sum(), axis=1) # 按行求和，添加为新列

In [6]:
frequency

            D   S C1 C2 C3  C4 C5  Row_sum
1976to1977  0   1  0  3  0   0  0        4
1977to1978  0   1  0  2  1   1  0        5
1978to1979  2   5  0  1  1   0  0        9
1979to1980  2   3  2  3  6   0  0       16
1980to1981  4   3  1  0  4   1  0       13
1981to1982  6   7  4  1  1   1  0       20
1982to1983  2   4  4  0  0   0  0       10
1983to1984  4   8  5  2  2   2  0       23
1984to1985  3  10  6  0  1   2  0       22
1985to1986  6   5  3  2  4   1  0       21
1986to1987  2   8  4  0  0   0  0       14
1987to1988  5   3  2  2  0   2  0       14
1988to1989  3   2  5  2  3   2  1       18
1989to1990  6   6  3  2  2   2  0       21
1990to1991  4   6  1  3  1   1  0       16
1991to1992  4   5  0  0  1   6  0       16
1992to1993  3   4  2  2  1   1  0       13
1993to1994  4   5  2  4  4   2  1       22
1994to1995  3   3  2  1  4   3  0       16
1995to1996  5   3  4  3  1   4  2       22
1996to1997  2   7  5  2  1   4  0       21
1997to1998  9   4  2  2  0   2  0       19
1998to1999  8   3  4  0  2   3  1       21
1999to2000  2   5  3  2  0   7  0       19
2000to2001  5   2  3  2  3   1  0       16
2001to2002  3   4  3  0  2   4  1       17
2002to2003  5   4  3  2  2   1  2       19
2003to2004  4   3  6  0  2   3  1       19
2004to2005  5   6  2  1  2   2  1       19
2005to2006  4   6  0  0  1   4  1       16
2006to2007  1   2  3  0  4   4  0       14
2007to2008  6   5  3  2  2   3  0       21
2008to2009  4   7  3  0  2   2  0       18
2009to2010  2   4  4  0  1   3  1       15
2010to2011  3   4  3  1  1   1  0       13
2011to2012  5   3  4  3  0   2  0       17
2012to2013  3   4  2  2  2   4  0       17
2013to2014  1   5  1  1  1   4  2       15
2014to2015  4   4  1  2  3   2  2       18
2015to2016  1   3  2  0  0   2  1        9
2016to2017  0   6  2  1  0   1  1       11
2017to2018  0   3  4  2  2   1  1       13
2018to2019  0   6  1  1  1  10  0       19
2019to2020  2   7  1  3  4   0  1       18
2020to2021  2   8  3  2  1   1  1       18
2021to2022  1   4  0  0  1   3  0        9

In [ ]:
frequency.to_excel("./SI.xlsx")